<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="token" value="dc2f9ff0790c2745d80d8d93c4efbf15"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true" />
    </settings>
    <mailSettings>
    <smtp from="FILL_IN_THIS_VALUE">
      <network host="smtp.sendgrid.net" password="YOUR_EMAIL_PASSWORD" userName="YOUR_EMAIL_USERNAME" port="587" />
    </smtp>
  </mailSettings>
  </system.net>
</configuration>